<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:9999/likeEating/views/index.html">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">爱&nbsp;吃&nbsp;网</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-element">
                        <span class="icon glyphicon glyphicon-home"></span><span class="title">系统管理</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-element" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="#">数据库导入</a>
                                </li>
                                <li><a href="#">数据库导出</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/system/role.html">角色管理</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/system/user.html">用户管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-table">
                        <span class="icon glyphicon glyphicon-th-large"></span><span class="title">商品管理</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-table" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="http://localhost:9999/likeEating/views/goods/goods_type.html">商品类别列表</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/goods/goods_manager.html">商品基本信息</a>
                                </li>
                                 <li><a href="http://localhost:9999/likeEating/views/goods/goods_price_parameter.html">商品价格参数</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/goods/goods_price.html">商品价格信息</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-form">
                        <span class="icon glyphicon glyphicon-gift"></span><span class="title">采购管理</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-form" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="http://localhost:9999/likeEating/views/purchase/supplier/supplier_type.html">供货商家类别管理</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/purchase/supplier/supplier_list.html">供货商家信息管理</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/purchase/purchase_order_list.html">采购订单管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                <!-- Dropdown-->
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#component-example">
                        <span class="icon glyphicon glyphicon-usd"></span><span class="title">销售管理</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="component-example" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="http://localhost:9999/likeEating/views/sales/customer/customer_type.html">客户类别信息管理</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/sales/customer/customer_list.html">客户基本信息管理</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/sales/sales_order_list.html">销售订单管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Dropdown-->
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-example">
                        <span class="icon glyphicon glyphicon-search"></span><span class="title">查询管理</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-example" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="http://localhost:9999/likeEating/views/query/in_query.html">入库查询</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/query/out_query.html">出库查询</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/query/stock_query.html">库存查询</a>
                                </li>
                                <li><a href="http://localhost:9999/likeEating/views/query/profits_query.html#">利润查询</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>