<!DOCTYPE html>
<html>

<head>
    <title>商品价格参数管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <!--#include file="/views/common/link.html"-->
</head>

<body class="flat-green">
    <div class="app-container expanded">
        <div class="row content-container">
            <!--#include file="/views/common/header.html"-->
            <!--#include file="/views/common/sidebar.html"-->
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- 表格分页一系列js在142行 -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">商品价格参数管理</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="datatable table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>客户类别</th>
                                                <th>价格折扣</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>一级代理价格参数</td>
                                                <td>7折</td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-success">修改</a>
                                                    <a type="button" href="#" class="btn btn-danger">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>二级代理价格参数</td>
                                                <td>8折</td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-success">修改</a>
                                                    <a type="button" href="#" class="btn btn-danger">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>一级代理价格参数</td>
                                                <td>9折</td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-success">修改</a>
                                                    <a type="button" href="#" class="btn btn-danger">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>销售价格参数参数</td>
                                                <td>9.5折</td>
                                                <td>
                                                    <a type="button" href="#" class="btn btn-success">修改</a>
                                                    <a type="button" href="#" class="btn btn-danger">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>序号</th>
                                                <th>客户类别</th>
                                                <th>价格折扣</th>
                                                <th>操作</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <a class="btn btn-success btn-add" data-toggle="modal" data-target="#modalAddParam" role="button"> 添加</a>
                        </div>
                    </div>
                </div>
                <!--#include file="/views/common/footer.html"-->
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAddParam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">价格参数添加</h4>
                </div>
                <div class="modal-body">
                    <p>Test</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--#include file="/views/common/script.html"-->
</body>

</html>